{% extends "base.html" %}
{% block content %}
<div class="container col s12">
    <form class="col s12" action="login" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input name="username" id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input name="password" id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit" id="login">login
            <i class="material-icons right">send</i>
        </button>

    </div>
    </form>

</div>

{% endblock %}
{% block script %}

{% endblock %}